# Token do seu Cloudflare Tunnel (obtenha no dashboard do Zero Trust da Cloudflare)
TUNNEL_TOKEN=seu_token_aqui_gerado_no_cloudflare_zero_trust

# PostgreSQL Configuration
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=uma_senha_muito_forte_aqui

# MySQL Configuration
MYSQL_ROOT_PASSWORD=uma_senha_muito_forte_para_o_mysql

# AWS S3 Backup Configuration (Opcional - para enviar backups para a nuvem)
AWS_ACCESS_KEY_ID=sua_chave_de_acesso_aws
AWS_SECRET_ACCESS_KEY=sua_chave_secreta_aws
AWS_STORAGE_BUCKET_NAME=nome_do_seu_bucket_s3
AWS_S3_REGION_NAME=us-east-1

# Telegram Notification Configuration (Opcional - para enviar status do backup via Telegram bot)
TELEGRAM_BOT_TOKEN=seu_token_do_bot_telegram
TELEGRAM_CHAT_ID=seu_chat_id_do_telegram

